<!DOCTYPE html>
<html>
    <head>
        <title>나의 취미</title>
    </head>
    <body>
        [메뉴] <a href="./../">홈</a> <a href="https://www.naver.com/">네이버</a> 
        <a href="https://www.nate.com/" target="_blank">네이트</a> 
        <a href="./../myHobby/">나의취미</a> <br>
        <hr>
        나의 취미는 어쩌고 저쩌고
        <ul>
            <li>사과</li>
            <li>배</li>
            <li>딸기</li>
        </ul>
        <ol>
            <li>사과</li>
            <li>배</li>
            <li><a href="https://www.nate.com/"><img src="{{ url_for('static', filename='123.'jpg')}}"></a></li>
        </ol>
    </body>
</html>