<!DOCTYPE html>
<html>
<head>
    <title>Data List</title>
</head>
<body>
    <h1>Data List</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>직업</th>
            </tr>
        </thead>
        <tbody>
            {% for item in name %}
                <tr>
                    <td><a href="/update/{{ item[0] }}">{{ item[0] }}</a></td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/insert/">만들러가기</a>
</body>
</html>